@model IEnumerable<WardFormsCore.DataModel.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonRole.PersonRoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThruDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonRole.PersonRoleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThruDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonRoleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonRoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonRoleID })
        </td>
    </tr>
}

</table>
