@model WardForms.Models.FacilityContactMechanisimPurpose

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacilityContactMechanisimPurpose</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThruDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThruDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPurposeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPurposeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKFCMPFCMID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKFCMPFCMID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FCMPID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
