@model WardFormsCore.Data.DataSetTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DataSetTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataSetShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNamePersian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNamePersian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNamePashto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNamePashto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetFor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DSId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
