@model IEnumerable<WardFormsCore.Data.DataSetSection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataSetTbl.DataSetShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSetSectionShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSetSectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSetNameSectionPersian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSetNameSectionPashto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataSetTbl.DataSetShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSetSectionShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSetSectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSetNameSectionPersian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSetNameSectionPashto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DSSID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DSSID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DSSID })
        </td>
    </tr>
}

</table>
