@model IEnumerable<WardFormsCore.Data.ElementValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataElement.DataElement1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataElementValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKEVServiceID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataElement.DataElement1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataElementValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKEVServiceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DEVID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DEVID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DEVID })
        </td>
    </tr>
}

</table>
