@model IEnumerable<WardForms.Models.FacilityContent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacilityContent1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThruDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKFCFacilityID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityContent1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThruDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKFCFacilityID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FCID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FCID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FCID })
        </td>
    </tr>
}

</table>
