@model WardFormsCore.Data.AllElement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllElement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataSetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNamePersian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNamePersian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNamePashto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNamePashto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetSectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetSectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNameSectionPersian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNameSectionPersian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNameSectionPashto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNameSectionPashto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKDSSDataSetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKDSSDataSetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetSectionElementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetSectionElementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNameSectionElementPersian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNameSectionElementPersian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNameSectionElementPashto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNameSectionElementPashto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKDSSEDataSetSectionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKDSSEDataSetSectionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKDSSEDataelementID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKDSSEDataelementID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataElement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataElement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataElementPersian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataElementPersian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataElementPashto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataElementPashto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKDEDataSetClassficationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKDEDataSetClassficationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataElementStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataElementStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
