@model WardForms.Models.FacilityRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacilityRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKFRFacilityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKFRFacilityID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKFRPartyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKFRPartyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKFRRoleTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKFRRoleTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThruDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThruDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacilityRoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
