@model IEnumerable<WardForms.Models.FacilityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FKFRFacilityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKFRPartyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKFRRoleTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThruDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FKFRFacilityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKFRPartyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKFRRoleTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThruDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacilityRoleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacilityRoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacilityRoleID })
        </td>
    </tr>
}

</table>
