@model IEnumerable<WardForms.Models.FacilityGroupRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FKFGRFacilityGroupID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKFGRFacilityPartyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKFGRRoleTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThruDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FKFGRFacilityGroupID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKFGRFacilityPartyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKFGRRoleTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThruDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FGRId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FGRId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FGRId })
        </td>
    </tr>
}

</table>
