@model IEnumerable<WardFormsCore.DataModel.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataSetTbl.DataSetShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facility.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientVisit.VisitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurposeType.Purpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataSetTbl.DataSetShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facility.FacilityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientVisit.VisitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurposeType.Purpose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Service Details", "servicedetail", new { id = item.ServiceID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceID })
        </td>
    </tr>
}

</table>
