@model IEnumerable<WardForms.Models.FacilityGroupType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacilityGroupType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityGroupTypeLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityGroupTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKFGTFacilityID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityGroupType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityGroupTypeLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityGroupTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKFGTFacilityID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FGTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FGTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FGTID })
        </td>
    </tr>
}

</table>
