@model WardFormsCore.DataModel.PurposeType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurposeType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurposeLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurposeLocal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurposeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
