@model IEnumerable<WardFormsCore.DataModel.Party>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Organization.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyType.PartyType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThruDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyType.PartyType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThruDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartyID })
        </td>
    </tr>
}

</table>
