@model WardFormsCore.Data.SkillType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SkillType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SkillDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillDescriptionLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillDescriptionLocal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SkillTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
