@model WardFormsCore.Data.DataSetSectionElement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DataSetSectionElement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataElement.DataElement1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataElement.DataElement1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetSection.DataSetSectionShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetSection.DataSetSectionShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetSectionElementShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetSectionElementShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetSectionElementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetSectionElementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNameSectionElementPersian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNameSectionElementPersian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSetNameSectionElementPashto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSetNameSectionElementPashto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DSSEId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
