@model WardForms.Models.FacilityGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacilityGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKFGFacilityGroupTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKFGFacilityGroupTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityGroup1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityGroup1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacilityGroupLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityGroupLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKFGFacilityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKFGFacilityID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FGID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
