@model IEnumerable<WardForms.Models.FacilityGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FKFGFacilityGroupTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityGroup1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityGroupLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FKFGFacilityID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FKFGFacilityGroupTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityGroup1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacilityGroupLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FKFGFacilityID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FGID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FGID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FGID })
        </td>
    </tr>
}

</table>
